/* Cascade */

* {
    font-family: Tahoma;
}

h1 {
    font-family: Times;
}

h3 {
    font-family: Arial;
    font-size: 16px;
}

h3>span {
    font-family: Arial;
}


/* Ganti baru span */


/* Child Selector */

h3>span {
    color: crimson;
    /* Hanya berubah di span h3 */
}

span {
    color: blue;
}


/* Inheritance */


/* Span dalam heading */

h3 {
    font-size: 12px;
    padding: 10px;
    /* Semua h3 */
}

h3>span {
    padding-left: inherit;
    padding-right: inherit;
    /* Span yang di h3 ikut berubah mengikuti parentnya si h3 */
}


/* Color */

h2 {
    background-color: black;
    color: beige;
    padding: 10px;
}

h3 {
    background-color: rgba(100, 25, 0, 0.2);
}

h1 {
    background-color: #efefef;
    padding: 10px;
    text-align: center;
}

body {
    background-color: azure;
}