body {
    font-family: Arial;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    text-align: center;
}

#content {
    overflow: auto;
}

#nav,
#feature,
#footer {
    background-color: burlywood;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.article1,
.article2,
.article3 {
    background-color: burlywood;
    width: 30%;
    float: left;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 0.66%;
}

.article1 {
    margin-left: 0;
}

.article3 {
    margin-right: 0;
}

.article1 {
    margin-left: 0;
}

#content h3 {
    text-align: center;
}

#feature img {
    width: 30%;
}

li {
    display: inline;
    padding: 5px;
}