.container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: darkslategray;
    border-right: 20px ridge white;
    border-top-left-radius: 100px;
}

.left h1 {
    font-weight: bold;
    color: white;
}

.left input {
    text-align: center;
    width: 70%;
    height: 30px;
    margin: 5px;
    border-radius: 50px;
    border: none;
}

.left input[type="submit"] {
    color: white;
    font-weight: bold;
    background-color: blue;
    border: none;
}

.left input[type="submit"]:hover {
    background-color: gold;
    color: black;
}

.left a {
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.left a:hover {
    color: white;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: gray;
    border-bottom-right-radius: 100px;
}

.right h1 {
    color: white;
}

.right button {
    border: none;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
}

.right button:hover {
    background-color: darkslategray;
    color: white;
}

.twitter {
    color: #55acee;
}

.facebook {
    color: #012677;
}

.google {
    color: #d50f25;
}